/*
 * TuxMath JS
 * 
 * Author: Julien Marin - projet Afrikalan  
 * Contact: julien.marin@afrikalan.org
 * Licence: AGPL-3.0-or-later, see COPYING file
 */


body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.layout-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-game__counters {
  position: absolute;
  z-index: 40;
}

.layout-game__tuxComand {
  position: absolute;
  z-index: 30;
}


.layout-game__laser {
  position: absolute;
  z-index: 20;
}

.layout-game__commetsIgloosColmuns {
  position: absolute;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-game__commetsIgloosColmuns__col {
/*   overflow: hidden; */ /*inutile?*/
}

.layout-game__commetsIgloosColmuns__col > * {
  transform: translate(-50%, 0%);
}

.layout-game__backgound {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  position: absolute;
  z-index: 0;
}
